* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.carousel-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
}
.carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 780px;
  height: 400px;
  margin: auto;
  position: relative;
}
.carousel-img img {
  max-width: 600px;
}
.arrow-prev i , .arrow-next i {
  font-weight: bold;
  font-size: 50px;
  cursor: pointer;
}
.bullets {
  position: absolute;
  bottom: 0;
  left: 50%;
}

.bullets i {
  cursor: pointer;
}
